@font-face {
    font-family: Prime;
    src: url(../public//fonts/madina/Madina.ttf);
}

body {
    font-family: Prime;
    scroll-behavior: smooth;
}


nav {
    padding: 30px 130px;
    display: flex;
}

nav h2 {
    font-size: 34px;
}

nav h2 svg {
    font-size: 20px;
}