:root {
  --primary-color : 185, 223, 198;
  --dark-color : 27, 27, 27;
  --orange-color : 246, 138, 76;
  --highlight-color : 254, 198, 77;
  --fourth-color :255, 255, 255;

}

* {
  padding: 0;
  margin: 0;
}